<a href="https://colab.research.google.com/github/Isha1600/Python_Projects_Portfolio/blob/main/OOP_Level8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
class Student:
    def __init__(self, name):
        self.name = name

In [2]:
s1 = Student("Isha")
s2 = Student("Tina")

In [ ]:
class Student:
    school_name = "Green Valley School"   # class variable

    def __init__(self, name):
        self.name = name

    def display(self):
        print(self.name, "-", Student.school_name)

In [4]:
class Student:
    school_name = "Green Valley School"   # class variable

    def __init__(self, name):
        self.name = name

    def display(self):
        print(self.name, "-", Student.school_name)

s1 = Student("Isha")
s2 = Student("Tina")

s1.display()
s2.display()

Isha - Green Valley School
Tina - Green Valley School

In [5]:
class MathHelper:

    @staticmethod
    def add(a, b):
        return a + b

In [6]:
print(MathHelper.add(5, 3))

8

In [9]:
class Calculator:
    @staticmethod
    def add(a, b):
        return a + b

    @staticmethod
    def multiply(a, b):
        return a * b

In [10]:
# Test the add method
result_add = Calculator.add(10, 5)
print(f"Addition result: {result_add}")

Addition result: 15

In [11]:
# Test the multiply method
result_multiply = Calculator.multiply(10, 5)
print(f"Multiplication result: {result_multiply}")

Multiplication result: 50

In [7]:
class Employee:
    company_name = "TechCorp"  # Class variable

    def __init__(self, name, salary):
        self.name = name        # Instance variable
        self.salary = salary    # Instance variable

    def display_employee_info(self):
        print(f"Name: {self.name}")
        print(f"Salary: ${self.salary}")
        print(f"Company: {Employee.company_name}")

In [8]:
# Create an instance of the Employee class
employee1 = Employee("Alice Smith", 75000)

# Display the employee's information
employee1.display_employee_info()

Name: Alice Smith
Salary: $75000
Company: TechCorp